<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>X9IizRCv1tUm3X6ZI1PCZmD2lEUPhpYwEl3zbPCp7oPwOqu4FLaiCRksXkYHfTZiiJ7ZXZqjg2vAmxHCT6m6uo85J9qZyTONrzsYmeP1ydznQeOkEnq1vFMvWn0hZskucY6HlejDdhmBldNlpoD7QaOPLM3qDHjT2jUeWtTHf3c=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>3tejegGnQqbg3jlQ1B+0sLKqN1ykuyZf8ZMzpJ8NcIc=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>