<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MonsterDBConnectionString" connectionString="data source=sql-training.cyssd3csgnm6.us-east-1.rds.amazonaws.com; initial catalog=MonsterDB; user id=ray; password=Grape2014!;" providerName = "System.Data.SqlClient"/>
  </connectionStrings>
</configuration>